﻿
<f:layout name="Master"/>
<f:section name="header">
    <script type="text/javascript" src="{f:uri.resource(path: 'js/jquery.qtip.pack.js')}"></script>
    <link rel="stylesheet" href="{f:uri.resource(path: 'css/stylesheets/jquery.qtip.min.css')}" type="text/css"
          media="all"/>
    <![CDATA[
    <script type="text/javascript">
        $(function() {
            $('.documento').qtip({
                content: {
                    attr: 'data-comentario'
                },
                style: {
                    classes: 'ui-tooltip-shadow ui-tooltip-jtools'
                },
                position: {
                    my: 'left center',
                    at: 'right center'
                }
            });
        });
    </script>
    ]]>
</f:section>

<f:section name="mainbox">
    <div id="screen-listado">
        <f:flashMessages class="flashmessages"/>
        <h2>Listado de documentos</h2>

        <div class="marco">
            <table class="listado-documentos">
                <thead>
                <tr>
                    <th scope="col">Documento</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{docs}" as="doc">
                    <tr>
                        <td class="documento"
                            data-comentario="<f:format.date format='Y-m-d H:i:s'>{doc.ultimoComentario.fecha}</f:format.date> {doc.ultimoComentario.texto}">
                            {doc.titulo}
                        </td>
                        <td>
                            <f:format.date format='Y-m-d H:i:s'>{doc.fecha}</f:format.date>
                        </td>
                        <td class="table-actions">
                            <a href="{f:uri.resource(resource: doc.fichero)}"><img
                                    src="{f:uri.resource(path: 'icons/guardar.png', package: 'Fernando.Docs')}"
                                    alt="Guardar"/></a>
                            <f:security.ifHasRole role="Editor">
                                <f:link.action action="edit" arguments="{doc: doc}" controller="Documento"><img
                                        src="{f:uri.resource(path: 'icons/editar.png', package: 'Fernando.Docs')}"
                                        alt="Editar"/>
                                </f:link.action>
                                <f:link.action action="show" arguments="{doc: doc}" controller="Documento"><img
                                        src="{f:uri.resource(path: 'icons/ver.png', package: 'Fernando.Docs')}"
                                        alt="Detalles"/>
                                </f:link.action>
                                <f:link.action arguments="{doc: doc}" controller="Comentario" action="new"><img
                                        src="{f:uri.resource(path: 'icons/comentar.png', package: 'Fernando.Docs')}"
                                        alt="Comentar"/>
                                </f:link.action>
                            </f:security.ifHasRole>

                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
            <div class="marco-shadow"></div>
        </div>

    </div>
</f:section>